body {
  -webkit-font-smoothing: antialiased;
  font-family: "Lato", sans-serif;
  padding-top: 72px; }
  body header .navbar {
    background: white;
    border-bottom: 1px solid #efefef;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
    z-index: 99; }
    body header .navbar .navbar-brand {
      text-indent: -9999px;
      width: 360px;
      height: 72px;
      background: url("../images/sc-logo-2x.png") center 25px no-repeat;
      background-size: 318px 23px; }
    body header .navbar .navbar-collapse .navbar-nav li a {
      padding: 26px 20px;
      font-size: 14px;
      color: #333333;
      font-weight: 600;
      text-transform: uppercase; }
      body header .navbar .navbar-collapse .navbar-nav li a:hover {
        color: #0072c4; }
    body header .navbar .navbar-collapse .navbar-nav li.active a {
      color: #0072c4;
      background: transparent; }
  body #content {
    margin-top: 2em; }
  body .tooltip.top {
    z-index: 10; }
    body .tooltip.top .tooltip-inner {
      font-size: 15px;
      line-height: 1.4;
      max-width: 500px;
      min-width: 300px;
      padding: 8px 10px; }
    body .tooltip.top .tooltip-arrow {
      margin-left: -10px;
      border-width: 10px 10px 0;
      bottom: -2px; }
  body .col-sm-1.halfset {
    width: 12.5%; }
  body h2.header {
    font-size: 18px;
    color: #555555;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 1px solid #dadada;
    margin-bottom: 20px; }
  body #hero {
    padding: 30px 0; }
    body #hero h1 {
      font-size: 21px;
      color: #212121;
      line-height: 1.5; }
    body #hero blockquote {
      border: none;
      font-size: 21px;
      text-align: right;
      color: #999999;
      line-height: 2; }
      body #hero blockquote small {
        color: #777777; }
  body #portfolio {
    background: #efefef;
    border-top: 1px solid #dadada;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.08); }
    body #portfolio h1 {
      font-size: 18px;
      color: #555555;
      text-transform: uppercase; }
      body #portfolio h1 small {
        font-size: 14px; }
    body #portfolio article .inner {
      cursor: pointer;
      background: white;
      border: 1px solid #dadada;
      text-align: center;
      padding: 20px;
      height: 150px;
      margin-bottom: 30px;
      position: relative; }
      body #portfolio article .inner:hover {
        border-color: #999999; }
      body #portfolio article .inner h1 {
        display: none; }
      body #portfolio article .inner img {
        max-width: 90%;
        height: auto; }
  body #people {
    background: #efefef; }
    body #people article {
      margin-bottom: 30px; }
      body #people article .inner {
        background: white;
        border: 1px solid #dadada;
        position: relative; }
        body #people article .inner.partner {
          min-height: 500px; }
        body #people article .inner.team {
          min-height: 370px; }
        body #people article .inner:before {
          content: "";
          border-top: 4px solid #0072c4;
          position: absolute;
          display: block;
          left: 0px;
          right: 0px;
          top: 0; }
        body #people article .inner h1, body #people article .inner h2, body #people article .inner h3, body #people article .inner h4, body #people article .inner p {
          padding: 0 20px; }
        body #people article .inner h1 {
          font-size: 28px;
          margin: 20px 0 0; }
        body #people article .inner h2 {
          color: #777777;
          text-transform: uppercase;
          font-size: 17px;
          margin: 10px 0 20px; }
        body #people article .inner h3 {
          font-size: 22px; }
        body #people article .inner h4 {
          color: #777777;
          text-transform: uppercase;
          font-size: 14px;
          margin: 10px 0; }
        body #people article .inner img {
          width: 100%;
          height: auto;
          margin: 15px 0; }
        body #people article .inner .linkedin {
          padding-left: 16px;
          background: url("../images/linkedin.png") 0 4px no-repeat;
          background-size: 12px 12px;
          text-align: right;
          position: absolute;
          bottom: 10px;
          right: 10px; }

@media screen and (max-width: 768px) {
  .navbar .navbar-toggle {
    border: none;
    margin-top: 16px; }
    .navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus, .navbar .navbar-toggle:active {
      background: transparent;
      outline: none; }
    .navbar .navbar-toggle .icon-bar {
      background-color: #212121;
      border-radius: 0;
      height: 3px; } }
@media screen and (max-width: 480px) {
  body header .navbar .navbar-collapse {
    width: 108%;
    background: #f6f6f6; }
    body header .navbar .navbar-collapse .navbar-nav li {
      width: 50%;
      float: left;
      text-align: center; }
      body header .navbar .navbar-collapse .navbar-nav li a {
        padding: 15px 0; }
  body header .navbar .navbar-brand {
    width: 320px;
    background-size: 280px 20px; }
  body #portfolio article .inner {
    height: auto; } }
