body {
  -webkit-font-smoothing: antialiased;
  font-family: "Lato", sans-serif;
  padding-top: 72px; }
  body header .navbar {
    background: white;
    background: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #dadada;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
    z-index: 99; }
    body header .navbar .navbar-brand {
      text-indent: -9999px;
      width: 360px;
      height: 72px;
      background: url("../images/sc-logo-2x.png") center 25px no-repeat;
      background-size: 318px 23px; }
    body header .navbar .navbar-collapse .navbar-nav li a {
      padding: 26px 20px;
      font-size: 14px;
      color: #333333;
      font-weight: 600;
      text-transform: uppercase; }
      body header .navbar .navbar-collapse .navbar-nav li a:hover {
        color: #0072c4; }
    body header .navbar .navbar-collapse .navbar-nav li.active a {
      background: transparent; }
    body header .navbar .navbar-toggle {
      border: none;
      margin-top: 16px;
      margin-right: 1px; }
      body header .navbar .navbar-toggle:hover, body header .navbar .navbar-toggle:focus, body header .navbar .navbar-toggle:active {
        background: transparent;
        outline: none; }
      body header .navbar .navbar-toggle .icon-bar {
        background-color: #212121;
        border-radius: 0;
        height: 2px;
        width: 26px; }
        body header .navbar .navbar-toggle .icon-bar.one {
          width: 20px;
          margin-left: 6px; }
        body header .navbar .navbar-toggle .icon-bar.two {
          width: 26px;
          margin-left: 0; }
        body header .navbar .navbar-toggle .icon-bar.three {
          width: 11px;
          margin-left: 15px; }
        body header .navbar .navbar-toggle .icon-bar.four {
          width: 16px;
          margin-left: 10px; }
  body header h1 {
    text-align: left;
    text-transform: uppercase;
    font-size: 18px;
    color: #999999; }
  body header .mission {
    text-align: center;
    font-size: 20px; }
  body #content {
    margin-top: 2em; }
  body .tooltip.top {
    z-index: 10; }
    body .tooltip.top .tooltip-inner {
      font-size: 15px;
      line-height: 1.4;
      max-width: 500px;
      min-width: 300px;
      padding: 8px 10px; }
    body .tooltip.top .tooltip-arrow {
      margin-left: -10px;
      border-width: 10px 10px 0;
      bottom: -2px; }
  body .col-lg-1.halfset {
    width: 12.5%; }
  body .col-lg-offset-1.halfset {
    margin-left: 12.5%; }
  body h2.header {
    font-size: 18px;
    color: #999999;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 1px solid #dadada;
    margin-bottom: 20px; }
  body .flip {
    -webkit-perspective: 532;
    -moz-perspective: 532;
    position: relative;
    margin-bottom: 30px; }
  body .flip .card.flipped {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg); }
  body .flip .card {
    width: 100%;
    height: 150px;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.35s;
    -moz-transform-style: preserve-3d;
    -moz-transition: 0.35s; }
  body .flip .card .face {
    width: 100%;
    height: 150px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden; }
  body .flip .card .face.front {
    z-index: 2; }
  body .flip .card .front {
    border: 1px solid #dadada;
    background: white;
    position: absolute;
    z-index: 1;
    color: white;
    cursor: pointer;
    padding: 6px; }
    body .flip .card .front h1 {
      text-indent: -9999px; }
    body .flip .card .front .ribbon {
      display: none;
      position: absolute;
      top: -5px;
      right: -6px; }
    body .flip .card .front.Yes .ribbon {
      display: block; }
    body .flip .card .front:hover {
      border-color: #aaaaaa; }
  body .flip .card .back {
    border: 1px solid #dadada;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    background: white;
    cursor: pointer;
    padding: 15px;
    -webkit-font-smoothing: antialiased; }
    body .flip .card .back:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      border-top: 3px solid #212121; }
    body .flip .card .back .site {
      text-align: right;
      left: 0;
      right: 15px;
      position: absolute;
      bottom: 10px;
      margin-bottom: 0;
      line-height: 1.5; }
  body #hero {
    padding: 30px 0; }
    body #hero h1 {
      font-size: 21px;
      color: #212121;
      line-height: 1.5; }
    body #hero blockquote {
      border: none;
      font-size: 21px;
      text-align: right;
      color: #999999;
      line-height: 2; }
      body #hero blockquote small {
        color: #777777; }
  body #portfolio {
    background: #efefef;
    border-top: 1px solid #dadada;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.08); }
    body #portfolio header h1 {
      font-size: 18px;
      color: #999999;
      text-transform: uppercase;
      margin-bottom: 20px;
      text-align: left; }
      body #portfolio header h1 small {
        font-size: 14px; }
    body #portfolio article .inner {
      cursor: pointer;
      background: white;
      border: 1px solid #dadada;
      text-align: center;
      padding: 20px;
      height: 150px;
      margin-bottom: 30px;
      position: relative; }
      body #portfolio article .inner:hover {
        border-color: #999999; }
      body #portfolio article .inner h1 {
        display: none; }
      body #portfolio article .inner img {
        max-width: 90%;
        height: auto; }
  body #people {
    background: #efefef;
    padding-bottom: 40px; }
    body #people header h1 {
      text-align: left;
      font-size: 18px;
      color: #999999; }
    body #people article {
      margin-bottom: 30px; }
      body #people article .inner {
        background: white;
        border: 1px solid #dadada;
        position: relative; }
        body #people article .inner.partner {
          min-height: 500px; }
        body #people article .inner.team {
          min-height: 370px; }
        body #people article .inner:before {
          content: "";
          border-top: 4px solid #1f2a2d;
          position: absolute;
          display: block;
          left: -1px;
          right: -1px;
          top: -1px; }
        body #people article .inner h1, body #people article .inner h2, body #people article .inner h3, body #people article .inner h4, body #people article .inner p {
          padding: 0 15px; }
        body #people article .inner h1 {
          font-size: 24px;
          margin: 15px 0 0; }
        body #people article .inner h2 {
          color: #777777;
          text-transform: uppercase;
          font-size: 13px;
          margin: 5px 0 0; }
        body #people article .inner h3 {
          font-size: 22px;
          margin-bottom: 5px; }
        body #people article .inner h4 {
          color: #777777;
          text-transform: uppercase;
          font-size: 13px;
          margin: 0px 0; }
        body #people article .inner img {
          width: 100%;
          height: auto;
          margin: 15px 0; }
        body #people article .inner .linkedin {
          padding-left: 16px;
          background: url("../images/linkedin.png") 0 4px no-repeat;
          background-size: 12px 12px;
          text-align: right;
          position: absolute;
          bottom: 10px;
          right: 10px; }
  body #press {
    background: #efefef;
    padding: 30px 0 0; }
    body #press #filters-button {
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      text-decoration: none;
      display: block;
      text-align: center;
      padding: 5px;
      background: #212121;
      color: white;
      -webkit-font-smoothing: antialiased;
      font-weight: normal;
      width: 120px; }
    body #press .filter-box {
      background: white; }
      body #press .filter-box label {
        width: 16.666%;
        font-size: 15px;
        font-weight: 400;
        cursor: pointer; }
        body #press .filter-box label:hover {
          color: #0072c4; }
      body #press .filter-box .uform_title {
        margin-left: -30px;
        margin-right: -30px;
        margin-top: -30px;
        border-bottom: 1px solid #dadada; }
      body #press .filter-box .uform_title > div {
        display: inline-block; }
      body #press .filter-box .uwpqsf_class {
        overflow: auto;
        margin: 0;
        padding: 0; }
      body #press .filter-box .uwpqsf_submit {
        display: block;
        height: 60px; }
      body #press .filter-box #uwpqsf_id_btn {
        background: #212121;
        color: white;
        display: block;
        padding: 9px 18px 11px;
        font-size: 16px;
        margin: 0 auto 10px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0; }
        body #press .filter-box #uwpqsf_id_btn:hover {
          text-decoration: underline; }
      body #press .filter-box #uwpqsf_id {
        border: 1px solid #dadada;
        padding: 30px 30px 0 30px;
        position: relative; }
      body #press .filter-box [class*='tax-check-'] > label input {
        display: inline-block;
        border: 1px solid #abaaaa;
        cursor: pointer;
        height: 16px;
        width: 16px;
        margin: 1px 3px 0 0;
        vertical-align: top; }
        body #press .filter-box [class*='tax-check-'] > label input:checked {
          content: "&#x2714";
          background: url("../images/checkmark.png") no-repeat bottom;
          background-size: 12px 14px; }
      body #press .filter-box #chosenFilter {
        padding: 0 30px;
        font-size: 15px; }
        body #press .filter-box #chosenFilter span {
          cursor: pointer; }
          body #press .filter-box #chosenFilter span:hover {
            color: #0072c4; }
      body #press .filter-box .togglecheck > span {
        color: #999999;
        text-transform: uppercase;
        font-size: 14px;
        margin: 10px 0 5px; }
  body #articles {
    background: #efefef;
    padding: 30px 0; }
    body #articles .search-results article .inner {
      border: 1px solid #dadada;
      background: white;
      position: relative;
      padding: 20px 0 10px;
      margin-bottom: 30px; }
      body #articles .search-results article .inner:before {
        content: "";
        border-top: 4px solid #1f2a2d;
        position: absolute;
        display: block;
        left: -1px;
        right: -1px;
        top: -1px; }
      body #articles .search-results article .inner .entry-header {
        padding: 0 15px;
        max-height: 50px;
        overflow: hidden; }
        body #articles .search-results article .inner .entry-header h1 {
          color: #212121;
          text-align: left;
          text-transform: none;
          line-height: 1.4;
          font-size: 18px;
          margin: 0;
          font-weight: 500;
          height: 50px; }
          body #articles .search-results article .inner .entry-header h1 a {
            color: #1f2a2d; }
      body #articles .search-results article .inner .entry-summary {
        padding: 0 15px;
        color: #212121;
        height: 90px; }
        body #articles .search-results article .inner .entry-summary .ellipsis {
          color: #212121; }
        body #articles .search-results article .inner .entry-summary .more {
          color: #212121;
          display: inline-block;
          font-weight: normal; }
          body #articles .search-results article .inner .entry-summary .more:hover {
            color: #212121;
            text-decoration: underline; }
      body #articles .search-results article .inner .artwork {
        margin: 15px 0; }
      body #articles .search-results article .inner .meta {
        border-top: 1px solid #efefef;
        margin: 0 20px;
        padding: 10px 0 0 0;
        color: #dddddd;
        text-align: right;
        position: relative; }
        body #articles .search-results article .inner .meta .publication {
          height: 15px;
          width: auto;
          position: absolute;
          left: 0;
          bottom: 3px;
          max-width: 90px;
          height: auto;
          max-height: 20px; }
      body #articles .search-results article .inner .date, body #articles .search-results article .inner .author {
        color: #999999;
        font-size: 12px; }
  body #contact {
    background: #efefef;
    padding: 30px 0 50px;
    min-height: 510px; }
    body #contact header h1 {
      color: #999999;
      text-align: left;
      font-size: 18px; }
    body #contact .mantra p {
      font-size: 18px;
      line-height: 1.6;
      margin-bottom: 24px; }
  body #blog {
    background: #efefef;
    padding: 30px 0; }
    body #blog header h1 {
      color: #999999;
      font-size: 18px;
      text-align: left; }
    body #blog article {
      padding: 15px;
      margin-bottom: 20px;
      position: relative;
      overflow: visible;
      background: white;
      border: 1px solid #dadada; }
      body #blog article:after {
        content: "";
        display: block;
        position: absolute;
        border-left: 3px solid #212121;
        top: 0;
        bottom: 0;
        left: -3px; }
      body #blog article .left .thumb {
        width: 100%;
        height: 150px; }
      body #blog article .right {
        padding-left: 5px; }
        body #blog article .right h1 {
          margin-top: 0; }
          body #blog article .right h1 a {
            color: #212121;
            font-size: 25px;
            display: block; }
        body #blog article .right p {
          font-size: 14px;
          line-height: 1.5;
          margin-bottom: 0; }
          body #blog article .right p.byline {
            font-size: 11px;
            text-transform: uppercase;
            border-bottom: 1px solid #f4f4f4;
            padding-bottom: 5px;
            margin-bottom: 5px; }
  body #single-post {
    padding: 30px 0;
    background: #efefef; }
    body #single-post article .inner {
      border: 1px solid #dadada;
      background: white;
      padding: 20px 30px; }
      body #single-post article .inner h1 {
        margin: 0;
        line-height: 1.4; }
      body #single-post article .inner .byline {
        font-size: 13px;
        text-transform: uppercase;
        border-bottom: 1px solid #f4f4f4;
        padding-bottom: 5px;
        margin-bottom: 20px; }
      body #single-post article .inner p {
        font-size: 18px;
        line-height: 1.7;
        margin-bottom: 30px;
        color: #212121;
        font-weight: 300; }
  body .footer {
    margin-top: 0;
    border: none;
    background: #212121;
    text-align: center;
    color: #777777;
    padding: 15px 0; }
    body .footer nav a {
      text-transform: uppercase;
      padding: 0 10px;
      color: white; }

@media screen and (max-width: 1199px) {
  body .col-lg-offset-1.halfset {
    margin-left: 0; } }
@media screen and (max-width: 990px) {
  body #people article .inner h3 {
    font-size: 19px; }
  body #people article .inner h4 {
    font-size: 12px; }
  body #people article .inner.partner {
    min-height: 530px; }
  body header .navbar .navbar-collapse {
    padding-right: 0; }
    body header .navbar .navbar-collapse .navbar-nav li a {
      padding: 26px 8px;
      font-size: 14px; } }
@media screen and (max-width: 768px) {
  body .navbar .navbar-toggle {
    border: none;
    margin-top: 16px; }
    body .navbar .navbar-toggle:hover, body .navbar .navbar-toggle:focus, body .navbar .navbar-toggle:active {
      background: transparent;
      outline: none; }
    body .navbar .navbar-toggle .icon-bar {
      background-color: #212121;
      border-radius: 0;
      height: 3px; }
  body #blog article .right h1 a {
    font-size: 22px; }
  body #blog article .right p {
    font-size: 13px; } }
@media screen and (max-width: 480px) {
  body {
    padding-top: 51px; }
    body section {
      padding-top: 0 !important; }
      body section .container {
        padding-left: 10px !important;
        padding-right: 10px !important; }
    body #blog article .left, body #blog article .right {
      display: block;
      width: 100%;
      padding: 0 15px; }
    body #blog article .thumb {
      margin-bottom: 20px; }
    body #blog article .right h1 {
      font-size: 18px; }
    body #blog article .right p {
      font-size: 14px; }
    body header .navbar {
      height: 51px; }
      body header .navbar .navbar-toggle {
        margin-top: 8px;
        margin-bottom: 4px; }
      body header .navbar .navbar-collapse {
        width: 111%;
        background: #f6f6f6;
        border: none;
        border-bottom: 1px solid #dadada; }
        body header .navbar .navbar-collapse .navbar-nav li {
          width: 33%;
          float: left;
          text-align: center; }
          body header .navbar .navbar-collapse .navbar-nav li a {
            font-size: 13px;
            padding: 10px 0;
            border-right: 1px solid #efefef;
            box-shadow: 1px 0 0 rgba(255, 255, 255, 0.75); }
          body header .navbar .navbar-collapse .navbar-nav li.blog {
            margin-left: 16%; }
          body header .navbar .navbar-collapse .navbar-nav li.contact a {
            border: none;
            box-shadow: none; }
      body header .navbar .navbar-brand {
        height: 51px;
        background-position: center center;
        width: 250px;
        background-size: 220px 16px; }
    body #hero {
      padding: 0; }
      body #hero h1 {
        font-size: 17px; }
      body #hero blockquote {
        font-size: 15px;
        line-height: 1.4; }
    body #portfolio article .inner {
      height: 200px; }
    body .flip {
      margin-bottom: 10px; }
      body .flip .card {
        height: auto;
        height: 180px; }
        body .flip .card .face {
          height: auto;
          min-height: 180px; }
          body .flip .card .face p {
            font-size: 17px; }
          body .flip .card .face .site {
            right: 0;
            bottom: 0; }
            body .flip .card .face .site a {
              display: block;
              text-align: center;
              padding: 8px 0;
              border-top: 1px solid #efefef;
              background: #f9f9f9; }
    body #people article {
      margin-bottom: 15px; }
      body #people article .inner p {
        font-size: 16px; }
    body article .inner .entry-header h1 {
      height: auto; }
    body #articles .search-results article .inner .entry-header, body #articles .search-results article .inner .entry-summary {
      height: auto;
      max-height: auto; }
    body #press {
      padding: 0; }
      body #press #mobile-filters {
        position: fixed;
        bottom: 25px;
        left: 50%;
        margin-left: -51px;
        background: rgba(0, 0, 0, 0.65);
        color: white;
        border: 1px solid rgba(0, 0, 0, 0.2);
        z-index: 99;
        padding: 6px 30px; }
      body #press .modal .modal-dialog {
        padding: 0;
        height: 100%; }
        body #press .modal .modal-dialog .modal-content {
          border-radius: 0;
          height: 100%;
          border: none; }
          body #press .modal .modal-dialog .modal-content .modal-body {
            height: 100%;
            padding: 0; }
            body #press .modal .modal-dialog .modal-content .modal-body .filter-box label {
              width: 50%;
              font-size: 11px; }
            body #press .modal .modal-dialog .modal-content .modal-body .btn-close {
              position: absolute;
              top: 5px;
              margin: 15px;
              font-size: 14px;
              color: #777777;
              font-weight: 400;
              border: none;
              padding: 0;
              right: 0;
              z-index: 9999; }
      body #press .filter-box .togglecheck > span {
        text-align: center; }
      body #press .filter-box .uform_title {
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 20px;
        text-align: center;
        padding-top: 10px; }
        body #press .filter-box .uform_title #filters-button {
          background: none;
          color: #777777; }
        body #press .filter-box .uform_title #filter-float {
          top: 14px;
          position: absolute;
          left: 50%;
          margin-left: -30px;
          font-weight: 400; }
      body #press .filter-box .uform_title > div {
        width: 100% !important; }
        body #press .filter-box .uform_title > div #c_filter-float, body #press .filter-box .uform_title > div #reset_filter {
          position: absolute;
          top: 5px;
          margin: 15px;
          font-size: 14px;
          color: #777777;
          font-weight: 400;
          border: none;
          padding: 0; }
        body #press .filter-box .uform_title > div #c_filter-float {
          right: -100px;
          color: white; }
        body #press .filter-box .uform_title > div #reset_filter {
          left: 0; }
          body #press .filter-box .uform_title > div #reset_filter a {
            color: #777777; }
      body #press .entry-content {
        height: 100%; }
        body #press .entry-content #uwpqsf_id {
          padding: 60px 15px 0;
          height: 100%; }
        body #press .entry-content #uwpqsf_id_btn {
          width: 100%;
          bottom: 0;
          margin: 0; }
        body #press .entry-content [class*='tax-check-'] label {
          width: 50%;
          font-weight: 400;
          margin-bottom: 15px; }
    body .footer nav a {
      padding: 0 5px;
      font-size: 13px; } }
